                    <div class="card-footer bg-transparent border-0">
                        <a href="/products/view/<%= product._id %>" class="btn btn-primary w-100">View Details</a>
                    </div> 